@font-face {
    font-family: Vazir;
    src: url(../fonts/Vazir/Vazir-Medium-FD.eot);
    src: url(../fonts/Vazir/Vazir-Medium-FD.ttf) format('truetype');
    src: url(../fonts/Vazir/Vazir-Medium-FD.woff) format('woff');
    src: url(../fonts/Vazir/Vazir-Light-FD.eot);
    src: url(../fonts/Vazir/Vazir-Light-FD.ttf) format('truetype');
    src: url(../fonts/Vazir/Vazir-Light-FD.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* font and size */
    --body_font: Vazir, sans-serif;
    --xl_font_size: 2.25rem;
    --lg_font_size: 1.75rem;
    --h1_font_size: 1.5rem;
    --h2_font_size: 1.25rem;
    --h3_font_size: 1rem;
    --md_font_size: .93rem;
    --sm_font_size: .88rem;
    --xs_font_size: .75rem;
    --lg_img_mx_h: 39rem;
    --md_img_mx_h: 30rem;
    --sm_img_mx_h: 20rem;
    /* color pallet */
    --body_color: #f4f6fa;
    --container_color: #fff;
    --title_color: #46515e;
    --text_color: #949494;
    --text_color_darker: #858585;
    --primary_color: #4186fa;
    --secondary_color: #4186fa;
    --light_color: #fff;
    --gray-color: #a9a9a9;
    --shadow-color-deep: rgba(0, 0, 0, .15);
    --shadow-color: rgba(0, 0, 0, .05);
    --btn_toggler: #cecece;
}

body {
    background-color: var(--body_color);
    transition: 400ms;
}

body.dark-mode {
    --body_color: #162d40;
    --container_color: #2b4051;
    --title_color: #fff;
    --text_color: #e6e6e6;
    --primary_color: #4186fa;
    --secondary_color: #4e8efa;
    --btn_toggler: #484848;
    --light_color: rgb(233, 233, 233);
    background-color: var(--body_color);
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--body_font);
}

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    padding: 3rem 0;
}

img {
    max-width: 100%;
    height: auto;
}

.container-fluid {
    width: 100%;
    position: relative;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
    position: sticky;
    top: 0;
    padding: 1rem;
    margin-bottom: 1rem;
    z-index: 1000;
    transition: all 200ms ease-in;
}

header.sticky-header {
    background-color: var(--container_color);
    box-shadow: 3px 5px 10px var(--shadow-color-deep);
}

nav {
    display: flex;
    align-items: center;
}

header .logo-box {
    display: inline-flex;
    align-items: center;
    margin-right: auto;
    cursor: pointer;
}

header .logo-box>picture {
    display: flex;
    align-items: center;
}

.features-section,
.register-section,
.personal-section,
.comments-section {
    background-color: var(--container_color);
}

.swiper-button-next {
    background-image: url(../img/next.png);
    margin-left: -1.5rem;
}

.swiper-button-prev {
    background-image: url(../img/previous.png);
    margin-right: -1.5rem;
}

.swiper-button-next,
.swiper-button-prev {
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    transform: scale(.5);
    background-color: var(--container_color);
    padding: 2.5rem;
    border-radius: 50%;
    box-shadow: 3px 3px 20px var(--shadow-color-deep);
    transition: transform 300ms;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    transform: scale(.6);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 .5rem;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-title-lg {
    color: var(--title_color);
    font-size: var(--h1_font_size);
    padding-bottom: 1rem;
}

.card-subtitle-lg {
    color: var(--title_color);
    font-size: var(--h2_font_size);
    padding-bottom: 1rem;
}

.card-text-lg {
    color: var(--text_color);
    font-size: var(--h3_font_size);
    padding-bottom: 1rem;
}

.img-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    align-items: center;
}

.headlines {
    text-align: center;
}

.features-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(15rem, auto);
    gap: 2rem;
    padding: 3rem;
}

.feature-card {
    background-color: var(--container_color);
    border-radius: .7rem;
    padding: 1.5rem;
    transition: transform 200ms ease-in, box-shadow 200ms ease-in;
}

a.btn-more {
    opacity: 0;
    color: var(--secondary_color);
    font-size: var(--xs_font_size);
}

a.btn-more i {
    margin: 0 .5rem;
    font-weight: 400;
    font-size: .8em;
}

.feature-card:hover {
    transform: scale(1.03);
    box-shadow: 3px 3px 30px var(--shadow-color-deep);
}

.feature-card:hover a.btn-more {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.card-title-sm {
    color: var(--title_color);
    font-size: var(--h3_font_size);
    padding-bottom: .5rem;
}

.card-subtitle-sm {
    color: var(--text_color);
    font-size: var(--sm_font_size);
    padding-bottom: 1rem;
}

.card-text-sm {
    color: var(--text_color);
    text-align: justify;
    font-size: var(--sm_font_size);
    padding-bottom: .5rem;
}

.txt-light {
    color: var(--light_color);
}

.personal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
}

.personal-body {
    flex: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.personal-body>p {
    max-width: 60%;
}

.personal-img-wrapper {
    flex: 45%;
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    align-items: center;
}

.personal-img {
    max-width: 300px;
    max-height: 300px;
    margin-right: auto;
}

.comments-section .swiper-container {
    max-width: 80%;
    padding: 1.5rem;
}

.comments-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 20px var(--shadow-color-deep);
}

.comments-body {
    flex: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.comments-body>p {
    max-width: 80%;
}

.comments-img-wrapper {
    flex: 20%;
    display: flex;
    justify-content: center;
    padding: 0 2rem;
}

.comments-img {
    max-width: 150px;
    max-height: 150px;
    margin-right: auto;
}

.app-section .link-box {
    display: flex;
    flex-direction: column;
}

.app-section .download-icon {
    margin: 0 -1rem 0 1rem;
    font-size: 1.1em;
}

.app-section .last-change .new-item>span:first-child {
    color: var(--secondary_color);
}

.app-section .last-change .new-item>span:last-child {
    color: var(--text_color);
    font-size: var(--md_font_size);
}

.search-wrapper {
    display: flex;
    justify-content: center;
    margin: 3rem auto;
}

footer {
    position: relative;
    background-color: #192734;
    display: flex;
    flex-direction: column;
}

footer::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: .3rem;
    background-color: var(--secondary_color);
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}

.footer-categories {
    max-width: 750px;
}

.footer-categories .footer-content-box {
    position: relative;
    text-align: center;
}

.footer-categories .footer-content-box .category-label {
    position: relative;
    border-bottom: 1px solid;
    border-color: var(--text_color);
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-categories .footer-content-box .footer-content {
    position: relative;
    height: 0;
    overflow: hidden;
    overflow-y: auto;
    transition: 400ms;
}

.footer-categories .footer-content-box.active .footer-content {
    height: 150px;
    margin-bottom: 1rem;
}

.footer-categories .footer-content-box .footer-content ul li {
    height: 3rem;
    border-bottom: 1px solid;
    border-color: #46515e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 2.5rem auto;
}

.contact-info .address {
    color: #fff;
    font-size: .8em;
    padding: 0 2rem;
    text-align: center;
}

.social-networks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-networks a {
    margin: 1rem .15rem;
}

.copyright {
    text-align: center;
    color: var(--gray-color);
    font-weight: lighter;
    margin: 2rem auto 0;
}

.copyright span>a {
    text-align: center;
    color: var(--light_color);
}

.btn-group {
    max-width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5em;
}

.btn {
    display: flex;
    border-radius: 2rem;
    background-color: var(--light_color);
    color: var(--primary_color);
    border: none;
    padding: .5rem 1rem;
    margin-left: 1rem;
    box-shadow: 3px 5px 16px var(--shadow-color-deep);
    font-size: var(--md_font_size);
    transform: scale(1);
    transition: all 200ms ease-in;
}

.btn:hover {
    transform: scale(1.1);
}

.btn.large {
    border-radius: 3rem;
    padding: .5rem 2.2rem;
    font-size: var(--h2_font_size);
    margin: 2rem 0;
}

.btn.primary {
    background-color: var(--primary_color);
    color: var(--light_color);
}

.btn.search-item {
    margin: 0;
    color: var(--text_color_darker);
}

.btn.search-item:hover {
    transform: scale(1.1);
    background-color: var(--primary_color);
    color: var(--light_color);
}

img.img-circle {
    border-radius: 50%;
}

a.blue-link {
    color: var(--secondary_color);
    font-size: var(--md_font_size);
    margin: 0 .5rem;
}

input[type=checkbox] {
    position: relative;
    height: 1.2rem;
    width: 2.4rem;
    -webkit-appearance: none;
    background-color: #a0a0a0;
    border-radius: 1.2rem;
    border: none;
    box-shadow: inset 0 0 5px var(--shadow-color-deep);
    transition: 400ms;
    margin: 0 3rem;
}

input:checked[type=checkbox] {
    background-color: var(--secondary_color);
}

input[type=checkbox]::before {
    content: '';
    position: absolute;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background-color: #fff;
    top: 0;
    right: 0;
    box-shadow: 0 0 5px var(--shadow-color-deep);
    transform: scale(1.05);
    transition: 400ms;
}

input:checked[type=checkbox]::before {
    right: 1.2rem;
}

@media screen and (min-width:576px) {
    .container {
        max-width: 540px;
    }
    .btn {
        padding: .5rem 2rem;
    }
}

@media screen and (min-width:768px) {
    .container {
        max-width: 720px;
    }
    .card-wrapper,
    .personal-wrapper,
    .comments-wrapper,
    .footer-wrapper {
        flex-direction: row;
    }
    .comments-wrapper {
        align-items: start;
        padding-top: 2rem;
    }
    .personal-body,
    .comments-body {
        align-items: start;
        justify-content: start;
    }
    .card-wrapper .img-wrapper {
        order: 2;
    }
    .card-wrapper .card-body {
        order: 1;
        align-items: start;
        text-align: start;
    }
    .features-wrapper {
        grid-template-columns: 1fr 1fr;
    }
    footer {
        padding: 3rem 7rem 1rem;
    }
    .footer-wrapper {
        flex-direction: row;
    }
    .contact-info {
        flex: 2;
        margin: 1rem 0;
        max-width: 300px;
    }
    .footer-categories {
        flex: 3;
        margin-left: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }
    .footer-categories .footer-content-box .category-label,
    .footer-categories .footer-content-box .footer-content ul li {
        border: none;
        height: 3rem;
        justify-content: end;
    }
    .footer-categories .footer-content-box .footer-content {
        height: auto;
    }
}

@media screen and (min-width:992px) {
    .container {
        max-width: 970px;
    }
    .card-title {
        font-size: var(--xl_font_size);
        margin-bottom: 1rem;
    }
    .card-subtitle {
        font-size: var(--h1_font_size);
        margin-bottom: 1rem;
    }
    .card-text {
        font-size: var(--h2_font_size);
    }
    .features-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .contact-info {
        flex: 1;
    }
    .footer-categories {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .comments-section .swiper-container {
        max-width: 60%;
    }
}

@media screen and (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
    .footer-wrapper {
        flex-direction: row;
        justify-content: center;
    }
    .footer-categories {
        margin: 0;
    }
    .comments-section .swiper-container {
        max-width: 50%;
    }
}